@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

text {
  font-family: 'Raleway'
}

body::-webkit-scrollbar {
  display: none;
}

.topText {
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  font-family: 'Bowlby One SC';
  color: white;
}


.cupid-logo{
  display: none;
  height: 1px;
  width: 1px;
}
@media (min-width:802px) {
  .cupid-logo{
    height: 75px;
    width: auto;
    left: 10px;
    display: inline;
  }
}

.ArrowLogo {
  position: absolute;
  bottom: 15px;
  top: 300px;


}
@media (min-width:342px) {
  .topText {
    left: 3px;
    bottom: 20px;
    font-size: 20px;
  }
}
@media (min-width:511px) {
  .topText {
    left: 5px;
    bottom: 30px;
    font-size: 24px;
  }
}
@media (min-width:681px) {
  .topText {
    left: 5px;
    bottom: 40px;
    font-size: 28px;
  }
}



.bottomText {
  position: absolute;
  bottom: -15px;
  font-size: 30px;
  font-family: 'Bowlby One SC';
  color: white;
}
@media (min-width:342px) {
  .bottomText {
    bottom: -20px;
    font-size: 40px;
  }
}
@media (min-width:511px) {
  .bottomText {
    bottom: -30px;
    font-size: 60px;
  }
}
@media (min-width:681px) {
  .bottomText {
    bottom: -40px;
    font-size: 80px;
  }
}

.footerText {
  position: absolute;
  top: -11px;
  right: 1px;
  font-size: 30px;
  font-family: 'Bowlby One SC';
  color: white;
}
@media (min-width:342px) {
  .footerText {
    top: -16px;
    font-size: 40px;
  }
}
@media (min-width:511px) {
  .footerText {
    top: -26px;
    font-size: 60px;
  }
}
@media (min-width:681px) {
  .footerText {
    top: -36px;
    font-size: 80px;
  }
}

.smallFooterText {
  position: absolute;
  right: 1px;
  top: 19px;
  font-size: 18px;
  font-family: 'Bowlby One SC';
  color: white;
}
@media (min-width:342px) {
  .smallFooterText {
    right: 1px;
    top: 24px;
    font-size: 20px;
  }
}
@media (min-width:511px) {
  .smallFooterText {
    right: 1px;
    top: 34px;
    font-size: 24px;
  }
}
@media (min-width:681px) {
  .smallFooterText {
    right: 1px;
    top: 44px;
    font-size: 28px;
  }
}
